body{
  background-image:url("bg.jpg");
}
#loginform{
     position:absolute;
	 left:1040px;
	 top:100px;
     text-align: center;
     width: 300px;
     border: 2px solid gray;
     background: white;
     font: 30px solid Ravie;
     margin: 10px;
	 -webkit-box-shadow:rgb(0,255,255) 5px 5px 50px;
     -webkit-border-radius:25px;
}
#user{
   width: 200px;
   height: 30px;
}
#pass{
  width: 200px;
  height: 30px;
}
#reg{
     text-align: center;
     width: 300px;
     border: 2px solid gray;
     background: white;
     font: 30px solid Ravie;
     padding-bottom: 20px;
     -webkit-box-shadow:rgb(0,255,255) 5px 5px 50px;
     -webkit-border-radius:25px;
	 top:400px;
	 left:1050px;
	 position:absolute;
}
#regbut{
  font: 20px solid Ravie;
}
#formdiv{
     position:absolute;
	 border:2px solid gray;
	 padding:30px;
	 top:80px;
	 left:500px;
	 color:black;
	 font:30px bold Ravie;
	 -webkit-border-radius:25px;
	 text-align:center;
	 background:white;
	 -webkit-box-shadow:rgb(0,255,255) 5px 5px 50px;
}
.all{
  font: 30px solid gray;
  width: 300px;
  text-align:center;
}
a:link{
   text-decoration:none;
}
#logintonew{
    border:2px solid gray;
	padding:30px;
	margin:30px;
	position:absolute;
	top:200px;
	left:190px;
	background:white;
	overflow:auto;
	width:850px;
	height:180px;
	-webkit-border-radius:25px;
	-webkit-box-shadow:rgb(0,255,255) 1px 1px 1000px inset;
	
}
#lik{
   font-size:40px;
   position:absolute;
   left:290px;   
}
#but{
  font-size: 20px;
  padding-top: 10px;
}
#head{
   font-size:20px; 
}
#timepass{
   position:absolute;
   padding:30px;
   border:2px solid gray;
   position:absolute;
   top:20px;
   left:20px;
   -webkit-box-shadow:rgb(0,255,255) 5px 5px 50px;
}
#Error{
     position:absolute;
	 width:500px;
	 border:1px solid gray;
	 color:red;
	 top:20px;
	 left:435px;
	 text-align:center;
	 font: 30px solid Ravie;
	 -webkit-border-radius:20px;
}
#img1{
    border:1px solid orange;
	padding:5px;
	position:absolute;
    top:20px; 
	left:20px;
	
}
#img2{
    border:1px solid orange;
	padding:5px;
	position:absolute;
    top:20px; 
	left:940px;
	
}
#bheja{
	 position:absolute;
     top:600px;
	 left:490px;
	 width:400px;
	 text-align:center;
	 color:pink;
	 font:50px normal Ravie;
}